{% extends 'base.html.twig' %}

{% block title %}Modifier Papeterie{% endblock %}

{% block body %}
<div class="container-fluid">
   <div class="row justify-content-md-center">
       <div class="col-md-12 papt row justify-content-center"><div class="col-md-3 title"></div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row col-md-12 justify-content-center gen">
    <div class="col-md-4 gen cadru">
    <br>

    <h1><p class="textf">Modifier Papeterie<p></h1>

    {{ include('papeterie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('papeterie_index') }}"><p class="textf">revenir à la liste<p></a>

    {{ include('papeterie/_delete_form.html.twig') }}
    <br>
     </div>
    </div>
</div>
<br>
{% endblock %}
