{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau article{% endblock %}

{% block body %}
    <h1>Créer un nouveau article</h1>

    {{ include('papeterie/_form.html.twig') }}

    <a href="{{ path('papeterie_index') }}">revenir à la liste</a>
{% endblock %}
