{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row justify-content-md-center">
       <div class="col-md-12 conn row justify-content-center"><div class="col-md-3 title"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row col-md-12 justify-content-center gen">
    
        <div class="col-md-4 gen">
            <h1>Veuillez-vous Connecter !</h1>

            {{ include('user/_formulaire.html.twig') }}

            <a href="{{ path('user_new') }}">Demande d'inscription</a>
        </div>
    </div>
</div>
{% endblock %}
