
.fat1
{
   height: auto;
    font-family: Apple Chancery, cursive;
    }
.fat2
{
    
    
    height: auto;
    font-family: Apple Chancery, cursive;
    text-align: center;    
}
.fat3
{
    
    
    height: auto;
    font-family: Apple Chancery, cursive;
    text-align: center;    
}
a
{
    color: #7c7c7d;
    text-decoration: none;
    
   
}
a:hover
{
    color: #4fa727;
    text-decoration: none;
}
h3
{
    color:  #7c7c7d;
}
.imglogo
{
    height: 100px;
    width: 100px;
}
.bouton_fac {
    background-image: url(../img/facebooka.png);
    background-size: cover;
    width: 100px;
    height:100px;
    transition:0.5s;
display: block;}
a.bouton_fac:hover {
    background-image: url(../img/facebookb.png);
    background-size: cover;
    width: 100px;
    height:100px;
    
}
a.boutontwit {
    background-image: url(../img/Twittera.png);
    background-size: cover;
    width: 120px;
    height:100px;
    transition:0.5s;
    display: block;}
a.boutontwit:hover {
    background-image: url(../img/Twitterb.png);
    background-size: cover;
    width: 120px;
    height:100px;
    
}
a.bouton_inst {
    background-image: url(../img/instagrama.png);
    background-size: cover;
    width: 100px;
    height:100px;
    transition:0.5s;
    display: block;}
a.bouton_inst:hover {
    background-image: url(../img/instagramb.png);
    background-size: cover;
    width: 100px;
    height:100px;
    
}
footer
{
    height: 25vh;
    background-color: #f8f9fa;
}



@media(max-width: 1150px)
    {

    .fat3{
        display: none;
    }

    .papt{
  width: 100%;
    }
}
@media(max-width: 1000px)
{
    .fat2{
        display: none;
    }

    .papt{
  width: 100%;
    }
} 	