.fixNavigation{
    z-index: 9999;
    position: fixed;
    top: 0;
    /* Mise en forme */
    width: 100%; /* <-- Largeur de votre site */
    }
.nav-pers{margin-left: 80px}

a.bouton_banniere {
    background-image: url(../img/icon-user-a.png);
    background-size: cover;
    width: 60px;
    height:60px;
    transition:0.5s}
a.bouton_banniere:hover {
    background-image: url(../img/icon-user-b.png);
    background-size: cover;
    width: 70px;
    height:70px;
    
}
a.bouton_banniere1 {
    background-image: url(../img/caddie.png);
    background-size: cover;
    width: 60px;
    height:60px;
    transition:0.5s}
a.bouton_banniere1:hover {
    background-image: url(../img/caddie-b.png);
    background-size: cover;
    width: 70px;
    height:70px;
    
}

.col-md-2 {
 
    display: flex;
    justify-content: center;}
.herd
{
    background-color: black;
    height: 40vh;
    background-image: url(../img/headerimg.jpg);
    background-size: cover;
}
.papt
{
    
    height: 40vh;
    background-image: url(../img/papeterie.jpg);
    background-size: cover;
    
}
.entr
{
    
    height: 40vh;
    background-image: url(../img/produit_entretien.jpg);
    background-size: cover;
}
.equip
{
    
    height: 40vh;
    background-image: url(../img/equipements.jpg);
    background-size: cover;
}
.prop
{
    
    height: 40vh;
    background-image: url(../img/propos.jpg);
    background-size: cover;
}
.cont
{
    
    height: 40vh;
    background-image: url(../img/contact.jpg);
    background-size: cover;
}
.avv
{
    
    height: 40vh;
    background-image: url(../img/avis.jpg);
    background-size: cover;
}
.con
{
    height: 40vh;
    background-image: url(../img/connexion-insciption.jpg);
    background-size: cover;
}
.ins
{
    height: 40vh;
    background-image: url(../img/connexion-insciption.jpg);
    background-size: cover;
}
.title
{color:white;
text-shadow:1px 3px 5px #4fa626;
text-align: center;
font-size: 2.2em;
font-family: Apple Chancery, cursive;

 
}
.taille
{
    font-size: 1.3em;
    justify-content: end;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.nav-link{
    margin-left: 100px;
    
}

