{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}
<div class="container-fluid">
   <div class="row justify-content-md-center">
       <div class="col-md-12 avv row justify-content-center"><div class="col-md-3 title"></div>
    </div>
</div>
<div class="container-fluid">
    <    <div class="row col-md-12 justify-content-center gen">
    <div class="col-md-6 gen cadri">
    <br>
    <h1><p class="textf">Créer un nouveau commentaire<p></h1>

    {{ include('avis/_form.html.twig') }}

    <a href="{{ path('avis_index') }}"><p class="textf">revenir à la liste<p></a>
     </div>
    </div>
</div>
{% endblock %}
