{% extends 'base.html.twig' %}
{% block body %}
<section>
<br>
<div class="container-fluid">
    
    <div class="row col-md-12 justify-content-center gen">
    <div class="col-md-8 gen cadro ">
    <p class="textf"><br>   
    <h1>POLITIQUE DE CONFIDENTIALITE</h1> </p>
    <p class="textf"><br>  
   <strong> TYPES DE DONNÉES RÉCOLTÉES VIA NOTRE SITE WEB : </strong><br>


Données renseignées et envoyées via les formulaires de contact qui peuvent inclure (prénom, nom, adresse email, numéros de téléphone)
Données de mesure d’audience de Google analytics
Données envoyées via la plateforme CRISP (Messagerie instantannée)
Données renseignées dans le but de traiter la commande (prénom, nom, adresse, téléphone, adresse email)
En soumettant les formulaires et en cochant la case à cocher de consentement du formulaire, l’internaute donne expressément son accord pour que les données à caractère personnel soient traitées pour la finalité pour laquelle il donne ses données, et jamais pour une autre.
</p>
<p class="textf">  
   
<strong>CONCERNANT LES COOKIES :</strong> <br>

La collecte des données personnelles à travers l’outil de suivi d’audience Google Analytics utilisé sur le site a pour but de d’analyser le comportement des internautes sur le site afin de pouvoir mesurer leur audience et améliorer leur performance. Google Analytics utilise des cookies tiers afin de distinguer les utilisateurs. Les cookies sont des fichiers texte installés sur le terminal des internautes. Ils ne contiennent aucune information nominative. Google a mis à jour en Mai 2018 sa politique de confidentialité à ce sujet. En parcourant le site, l’internaute donne expressément son accord pour que les données à caractère personnel collectées par Google Analytics soient traitées pour la finalité d’analyse du comportement des internautes en vue de l’amélioration de la performance de notre site. Des applications tierces installées sur le site (Crisp chat) sont suseptiblent d’installer des cookies et de recolter des données anonymes afin de garantir leur bon fonctionnement . Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l’installation des cookies : Retrouvez des outils et astuces sur le paramétrage de votre navigateur web pour le blocage des cookies  : <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser"> Site de la CNIL </a>
</p>
<p class="textf">  
<strong>FINALITÉ DES DONNÉES RÉCOLTÉES SUR CE SITE INTERNET :</strong>
<br>
Analyse statistiques
Réponse à votre demande d’informations
Appels transactionnels
Traitement des commandes
DURÉE DE CONSERVATION ET DESTINATAIRE DES DONNÉES :
<br>
Elles sont conservées pendant 3 ans pour les demandes d’information et 6 ans pour les commandes. Elles sont destinées à julien – gérant greenforce.com
<br>
DROIT DE RECTIFICATION ET D’ACCÉS :
<br>
Conformément au RGPD (Règlement Européen sur la Protection des Données), vous pouvez exercer votre droit d’accès aux données vous concernant, les faire rectifier ou supprimer en contactant Julien : protectiondesdonnees[@]greenforce.com
<br>
CONFIDENTIALITÉ DES DONNÉES : Les données que nous collectons restent internes et ne sont en aucun cas cédées louées ou vendues à des tiers, intra ou hors UE.
<br>
PROCÉDURE DE MISE EN OEUVRE EN CAS DE FUITE DE DONNÉES : Nous nous engageons en cas de fuite de données à contacter la a CNIL dans les 72h ainsi que vous informez de cette fuite.
<br>
STOCKAGE DES DONNÉES : Toutes nos données sont stockées sur des serveurs sécurisés situés en Union Européenne.e
</p>

</div>   
    </div>   
    </div> 


</section>
{% endblock %}
