{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid">
   <div class="row justify-content-md-center">
       <div class="col-md-12 prop row justify-content-center"><div class="col-md-3 title"></div>
    </div>
</div>

<section>
<div class="container-fluid">
    <div class="row col-md-12 justify-content-center gen">
    <div class="col-md-8 gen">
    <br> <h1>A propos</h1>
    <p class="textf"> <img src="{{asset ('img/logo.png')}}" alt=""> 
   
   A propos de notre société :
 <strong> La Force Verte@ </strong>est une entreprise créée en 2005, de moins de 50 salariés. <br> Elle est le leader européens de la fourniture de bureau, des produits d’entretiens ainsi que l’aménagement de vos bureaux, accès sur le développement durable et le recyclage des déchets occasionnés. 
 <strong> La Force Verte@ </strong>s’efforce de diminuer son impact environnemental, alors nous avons pris conscience que notre site e-commerce devait lui aussi respecter notre charte de qualité. <br> 
Contrairement à ce que l’on pouvait imaginer, l’impact environnemental des e-commerces peut-être très élevé. Et cela sans compter les livraisons et les retours fréquents ou alors les produits commandés de manières étalés qui sont des facteurs de pollution non négligeable. C’est pour cela que <strong>La Force Verte@</strong> a décidé d’agir en priorités sur son service de livraison et de ses distances. <br> Ainsi que sur la consommation énergétique de ses serveurs qui sont situés dans un data-center qui utilise des énergies renouvrables pour les refroidir et situé en France.
 Saviez-vous que la moyenne des remplissages des emballages est de 63%. La Force Verte@ a donc décidé de réduire de 20% la taille de ses emballages pour optimiser ses transports tout en sensibilisant ses clients sur les bienfaits de ses commandes et de leur optimisation par le suivis permanent de son compte.
Pour limiter les retours, nous avons optimiser nos fiches produits pour vous offrir un maximum de détails concernant n’importe quels produits distribués par <strong>La Force Verte@</strong>. <br>
<strong>La Force Verte@</strong> a créée  son site Green_Force, parce ce qu’il reste une alternative plus écologique que le commerce physique puisque les émissions de CO2 sont tout de même divisé par quatre.
La conscience écologique de Green_ Force a encore du chemin à parcourir, mais mettre ces pratiques en place a permis de créer un e-commerce éco-responsable et d’apporter notre pierre à l’édifice. <br>
<strong> La Force Verte@ </strong>est une entreprise créée en 2005, de moins de 50 salariés. Et qui génère un CA de de 8500000€. Nous nous efforçons à ce que nos fournisseurs respect notre charte de qualité concernant l’environnement. <br> Et donc nous distribuons pour les entreprises de bureaux des produits recyclés et recyclable, pour toutes fournitures de papeteries, produits d’entretiens et de l’aménagement.
</p>
</p>
    </div>
    </div>
</div>

</section>
{% endblock %}
