{% extends 'base.html.twig' %}

{% block title %}New Login{% endblock %}

{% block body %}
<div class="container-fluid">
   <div class="row justify-content-md-center">
       <div class="col-md-12 papt row justify-content-center"><div class="col-md-3 title"></div>
    </div>
</div>

<div class="container-fluid ">
    <div class="row col-md-12 justify-content-center gen">
    <div class="col-md-3 gen">
    <h1>Connectez vous</h1>

    {{ include('login/_form.html.twig') }}
   
    
    <a href="{{ path('user_new') }}">Demande d'inscription</a>
   </div>
    </div>
</div>

    

    
{% endblock %}

