{% extends 'base.html.twig' %}

{% block body %}
<h1> Nous contacter en cas de besoin </h1>

    <div class="container">

        <p>Pour toute question ou suggestion concernant nos produits, n'hésitez pas à nous écrire via le formulaire de contact ci-dessous. Si vous souhaitez voir vos produits figurer dans notre boutique en ligne, n'hésitez pas à nous écrire. Nous répondons avec plaisir à toutes vos questions !<p>

        <form action="" method="post">
            <div class="form-group">
                <input placeholder="Entreprise ..." required name="_enterprise" type="text" class="form-control">
            </div>
            <div class="form-group">
                <input placeholder="Email ..." required name="_email" type="text" class="form-control">
            </div>
            <div class="form-group">
                <input placeholder="Votre Sujet ..." required name="_topic" type="text" class="form-control">
            </div>
            <div class="form-group">
                <input placeholder="Votre Message !" required name="_description" type="text" class="form-control">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-succss">Envoyer le message<button>
            </div>
        </form>
    </div>
{% endblock %}