<form method="post" action="{{ path('entretien_delete', {'id': entretien.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cet article?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entretien.id) }}">
    <button class="btn"><p class="textf">Supprimer<p></button>
</form>
