{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}
    <h1>Créer un article</h1>

    {{ include('entretien/_form.html.twig') }}

    <a href="{{ path('entretien_index') }}">revenir à la liste</a>
{% endblock %}
