{% extends 'base.html.twig' %}

{% block body %}
<header id="header" class="container text-center">
	<h1>bienvenue a vous chere client (nom du responsable) </h1>
	<nav>
		<div class="home display-none">Produit</div>
		<div class="hamb">
			<a href="#"><i class="fas fa-bars"></i></a>
			<a href="#"><i class="far fa-window-close"></i></a>
		</div>
		<ul id="slide">
			<li><a href="">Panier</a></li>
			<li><a href="">Achat</a></li>
		</ul>
	</nav>
	on leur met un image de l'entreprise<br>
	<h2>entreprise ...</h2>
</header>
<main>
	<section id="deux">
		<h2></h2>
		
		<div>
			<article>
				<h3>information sur le client</h3>						
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
			</article>
			<article>
				<h3>information supplementaire</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
			</article>
		</div>
		
	</section>
	<section id="trois">
		<h2>Nous contacter !</h2>
		<span class="ligne"></span>
		<form class="form-group">
			<aside>
				<label>Nom</label>
				<input type="text">
			</aside>
			<aside>
				<label>Téléphone</label>
				<input type="tel">
			</aside>
			<aside>
				<label>Mail</label>
				<input type="mail">
			</aside>
			<aside>
				<label>Message</label>
				<textarea></textarea>
			</aside>
			<button>Envoyer !</button>
		</form>
	</section>
</main>
<footer class="container text-center">
	<article>
		<h4>2 rue Eugéne Pootier</h4>
		<p>Trappes, Yvelines</p>
	</article>
	<div>
		<p>Copyright &copy; Green Force</p>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="js/script.js"></script>
{% endblock %}