<h1> bienvenue a vous chere client </h1>


<h2>Nom de l'entreprise</h2>

on leur met un image de l'entreprise<br>

information supplementaire<br>

information sur le client<br>

se qu'il a acheter avant <br>